<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/head.min.js"></script>
<link rel="stylesheet" href="/css/theme/beige.css" id="theme">
<link href="/css/reveal.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/zenburn.css" rel="stylesheet">
<link href="/css/dashboard.css" rel="stylesheet">
