<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/lectures/main.html">Hello!</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><div><h4><span class="glyphicon glyphicon-th-list"></span><span> Server-side</span></h4></div></li>
    <li><a href="/lectures/servlet.html">Servlet</a></li>
    <li><a href="/lectures/maven.html">Maven</a></li>
  </ul>
</div>
