<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" style="color:white">Applicationi Telematiche</span>
    </div>
  </div>
</div>

